*{
    box-sizing: border-box;
}
body{
    background: rgb(51, 48, 53);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contenido1{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: row;
}
.logo{
    background: rgb(25, 219, 35);
    width: 100%;
    height: 100px;
}
.menu{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    left: 20px;
        background-color: black;
        width: 100%;
        height: 100px;
}

.slider{
    background-color: rgb(113, 134, 204);
    width: 100%;
    height: 380px;
}
.item2{
    height: 100%;
    flex: 1;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}
.item3{
    flex-direction: column;
    height: 450px;
    flex: 2;
    gap: 10;
    padding: 10px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
}
.contenido2{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: row;
    background-color: aquamarine;
}
.card1{
    margin: 10px;
    height: 20%;
    background-color: rgb(65, 65, 29);
    gap: 10;
}
.card2{
    display: flex;
    flex-direction: row;
    height: 30%;
    background-color: red;
    margin: 10px;
}
.card3{
    margin: 10px;
    display: flex;
    flex-direction: row;
    height: 40%;
    background-color: aqua;
}
.pie{
    align-items: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    background-color: red;
}
.cuadro1{
    height: 380px;
    flex: 1;
    background-color: rgb(34, 191, 202);
}
.cuadro2{
    flex-direction: column;
    height: 380px;
    flex: 2;
    gap: 10;
    padding: 10px;
}
.card10{
    margin: 10px;
    background-color: azure;
    height: 45%;
}
.card20{
    background-color: rgb(26, 207, 207);
    height: 45%;
    margin: 10px;
}
.cuadro{
    margin: 20px;
    background-color: brown;
    width: 100%;
    height: 100%;
}